div{
    width: 100px;
    height: 100px;
    background-color: red;

    animation: move 2s;
}

@keyframes move{
    from{
        background-color: red;
    }

    to{
        background-color: blue;
    }
}