body
{
  text-align: center;
}
div
{
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 2px solid black;
}

#container
{
  width: 800px;
  height: 200px;
  display: flex;
}
#box1{
  background-color: yellow;
}
#box2{
  background: pink;
}
#box3{
  background-color: gray;
}
#box4{
  background-color: green;
}
#box5{
  background: red;
}