#bx1, #bx2{
    text-align: center;
    height: 50px;
    width: 100px;
    border-radius: 50px;
    line-height: 50px;
    margin-left: 50px;
    display: inline-block;
    
}
#bx1{
    border: 2px solid red;
    background-color: aqua;
    position: relative;
    top: 20px;
    left: 30px;
}
#bx2{
     border: 2px solid red;
    background-color: aqua;
    position: relative;
    top: 5px;
    left: 1px;
    z-index: 5;
}